
.container2 {
  //border: 1px solid red; 
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
nav > a {
    padding: 10px;
    text-decoration: none;
  }
  nav > a.active {
    background-color:#D3A37C;

    //#F2BEA1;
  }
  .header-row{
    width: 100%;
  }
  .header-toolbar {
    margin-bottom: 50px;
    background-color: #C88C5D;
    // #EFA276;
    color: white;
  }