
nav > a {
    padding: 10px;
    text-decoration: none;
  }
  nav > a.active {
    background-color:#D3A37C;

    //#F2BEA1;
  }
  .header-row{
    width: 100%;
  }
  .header-toolbar {
    margin-bottom: 50px;
    background-color: #C88C5D;
    // #EFA276;
    color: white;
  }