<mat-toolbar class="header-toolbar" >
    <mat-toolbar-row>
      <div class="container">
        <div class="row between-xs middle-xs header-row">
          <nav>
            <a mat-button routerLink="/home" routerLinkActive="active">TodoGatos</a>
            <a mat-button routerLink="/product" routerLinkActive="active"
              >Productos</a
            >
            <a mat-button routerLink="/contact" routerLinkActive="active"
              >Contacto</a
            >
          </nav>
          <a  mat-raised-button matBadge="0" matBadgeColor="warn">
            <mat-icon>add_shopping_cart</mat-icon>
            Carrito
          </a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
