#fondo{
    /* background-image: url("C:\Users\MARLA-PP\Documents\Curso de angular\Proyecto\PlatziSquare\src\assets\cielo.jpg"); */
    background-image: url("./../../../../assets/images/Fondo-Contacto.png");
    
    background-position: 100% 100%;
    /* para que la imagen sea completa */
    background-size:cover;
    height: 100vh;
    font-family: Arial;
    font-weight: bold;
}

.opacity{
    background-color:rgb(255,243,205,0.85);

}
/* separando lugar escribenos y contacto */
 .esp{
    margin-top: 20px;
    padding: 20px;
}


/* marge a los botones */

.btn{
    margin: 5px;
    font-weight: bold;

}

span{
    font-family: Arial;

}
@media screen and (max-width: 768px) {
     .offset-md-1{
         width: 60%;
     }

     .offset-md-2{
         width: 60%;
     }

     .container {

        width: 250px;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0 auto;
        // display: inherit;
      
        }
}
@media screen and (max-device-width : 760px) {}