<div class="card opacity">
    <div class="d-flex flex-row">
        <div class="p-2"><a routerLink="/product">Productos</a></div>
        <div class="p-2">/ Detalle</div>
    </div>
</div>
<div class="container2">
  <div class="hero">
    <div *ngIf="product" class="product-img"> 
            <div>
              <img [src]="product.image" alt="">
    </div>  
  </div>
  <div class="box2">
    <ul>
      <li> <strong>Artículo:</strong>  {{ product.title }}</li>
      <li> <strong>Precio:</strong>  {{ product.price | currency }}</li>
    </ul>
    <p> {{ product.description }}</p>
  </div>
  
</div>