.crop-image{
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
    img {
      position: absolute;
      top: 50%;
      // bottom: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
    }
  }