<footer>
    <div class="container ">
      <div class="row grid-left">

        <div class="col-xs-12 col-md-4">
          <div class="box">
            <h2>¿Creamos algo juntos?</h2> 
            <ul>
              <li><a routerLink="/contact">Contactame</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="social">
                <a href="https://twitter.com/Marlita_26" class="social-link twitter"></a>
                <a href="https://www.facebook.com/carola.marla" class="social-link facebook"></a>
                <a href="https://github.com/marlacp" class="social-link github"></a>
                <a href="https://www.instagram.com/marlacpp/" class="social-link instagram"></a>
              </div>
        </div>
      </div>
    </div>
  </footer>
  