// #fondo{
//     /* background-image: url("C:\Users\MARLA-PP\Documents\Curso de angular\Proyecto\PlatziSquare\src\assets\cielo.jpg"); */
//     background-image: url("./../../../../assets/images/tico.jpg");
    
//     background-position: 50% 50%;
//     /* para que la imagen sea completa */
//     background-size:cover;
//     height: 100vh;

// }

.opacity{
    background-color:rgba(255, 246, 205, 0.555);

}

.letra p{
    font-family: sans-serif;
    font-size: 150%;
    font-style: oblique;
    color: brown;
}

h1 {
    font-family: sans-serif;
    font-style: oblique;
    color: brown;
}