/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {

    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    //border: 1px solid red; 
    width: 1100px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }
  
